body {
    background-image: url("../image/background.jpg");
    background-size: 100%;
}

#logo {
    font-family: 'Merienda';
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #FFFFFF;
}

h1 {
    color: #008080;
    font-size: 100px;
    text-shadow: 3px 3px 3px #0277bd;
}

#btn {
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
}

#footer {
    position: fixed;
    font-size: 75%;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 125px;
}

.card-panel {
    font-size: 20px;
    color: white;
    text-align: center;
    height: 80px;
    background-color: #008080;
}

.inputs {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border: solid #008080;
    background-color: #FFFFFF;
    padding: 5px;
    height: 140px;
}

.ytTitle {
    margin-left: 5%;
}

#ytSearch {
    margin-right: 10px;
    margin-top: 45px;
}

#ytThumbnails {
    text-align: center;
    background: #FFFFFF;
    width: 50%;
    margin-left: 20px;
}

#car {
    text-align: center;
    background: #FFFFFF;
    width: 50%;
    float: right;
    margin-right: 25px;
}